<% @books.each do |post_image| %>
<div>
  <%= link_to book_path(book.id) do %>
  <p><%= attachment_image_tag post_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <% end %>
  <p>Title：<%= book.book_name %></p>
  <p>Opinion：<%= book.body %></p>
  
</div>
<% end %>